## Neris botnet traffic generation graph analysis
The CSV files are exporter from gephi datalabs after computing statistis about degrees.

In [2]:
import pandas as pd
import numpy as np
import os
from matplotlib import pyplot as plt 
import seaborn as sns
#from tqdm.auto import tqdm

In [3]:
# Root data path
root_path = "."

In [4]:
# Palette
colores={"naranja":"#ff7f0e","verde":"#2ca02c","azul":"#1f77b4"}
paleta={"nsl-kdd":colores["verde"],"unsw-nb15":colores["naranja"],"ugr16":colores["azul"]}

# fondict for axis labels
font_labels = {'family' : 'arial',
        'weight' : 'normal',
        'size'   : 26}
# fondict for title labels
font_title = {'family' : 'arial',
        'weight' : 'bold',
        'size'   : 24}
# fontsize for tickso
ticks_fontsize=20

# legend fontsize
legend_fontsize=15

# img path
img_path = "./img/"

# Linewidth and markersize
lw=5
ms=100
marcadores={"nsl-kdd":"v","unsw-nb15":"o","ugr16":"X"}

### Neris raw

In [16]:
# FaaC
nerisraw = pd.read_csv('neris_raw_degrees.csv')

In [17]:
nerisraw.describe()

,timeset,indegree,outdegree,Degree,weighted indegree,weighted outdegree,Weighted Degree
count,0.0,1574.000000,1574.000000,1574.000000,1574.000000,1574.000000,1574.000000
mean,NaN,8.307497,8.307497,16.614994,26.540661,26.540661,53.081321
std,NaN,22.642544,51.604806,73.576435,494.607544,496.111164,990.635442
min,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,NaN,6.000000,1.000000,7.000000,0.000000,0.000000,0.000000
75%,NaN,9.000000,5.000000,13.000000,0.000000,0.000000,0.000000
max,NaN,314.000000,618.000000,932.000000,19052.000000,19116.000000,38168.000000

### Neris vae

In [18]:
# FaaC
nerisvae = pd.read_csv('neris_vae_degrees.csv')

In [20]:
nerisvae.indegree.mean()

2.630081300813008